# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm / VSCode
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Model & data files
*.joblib
*.pkl
*.csv
*.wav
